body{
    background:rgb(70,142,236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px; /*Deixa as bordas da tag arredondadas*/
    padding: 15px;
    width: 500px;
    margin: auto;/*Faz o alinhamento da tag no meio do display*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);/* Sombra que fica em volta da Tag*/

}

select#flista{
    width: 170px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

